
body
{
font-family: 'Montserrat', sans-serif;
text-align: center;
}
h1,h2,h3,h4,h5,h6
{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}


.big-heading
{
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 1.5;
}
#title
{
  text-align: left;
  position: relative;
  z-index: -1;
}
#features
{
  background-color: white;
  padding: 5% 3%;
  z-index: 1;
  position: relative;
  bottom: 28vh;
}

.container-fluid
{
  padding: 3% 15%;
}

/* Sections */
.colored-section
{
  background-color: #ff4c68;
  color: white;
}
.white-section
{
  background-color: #fff;
}
/* Navigation bar */
.navbar-brand
{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  padding-right: 520px;
}
.navbar
{
  margin-bottom: 4.5rem;
}
.nav-item
{
  padding: 0 18px;
}
.nav-link
{
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
}

/* Download Buttons */
.download-button
{
  margin: 5% 3% 5% 0;
}
/* Title image */
.title-image
{
  width: 60%;
  transform: rotate(25deg);
  position: relative;
  z-index: -1;
  margin-left: 27%;
}
.icon
{
  color: #ef8172;
  margin-bottom: 1rem;
}
.icon:hover
{
  color: #ff4c68;
}
.description
{
  color: #8f8f8f;
  font-size: 1.3rem;
}
.features-list
{
  margin-top: 3rem;
}
.feature-box
{
  padding: 4.5%;
}
.feature-title
{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
}
/* Testimonial section */
#testimonials
{
  background-color: #ef8172;
}
.testimonial-image
{
  width: 15%;
  border-radius: 100%;
  margin: 20px;
}
.carousel-item
{
    padding: 7% 15%;
}
.testimonial-text
{
  font-size: 3rem;
  line-height: 1.5;
}
#press
{
    background-color: #ef8172;
    padding-bottom: 3%;
}
.press-logo
{
  width: 15%;
  margin: 20px 20px 50px;
}
.signup-button
{
  width: 100%;
}
/* Pricing Section */
#pricing
{
  padding: 100px;
  /* margin-top: 150vh; */
}
.price-plans{
  padding: 100px;
}
.pricing-column
{
  padding: 3% 2%;
}
.price-text
{
  font-size: 3rem;
  line-height: 1.5;
}
@media (max-width: 1028px)
{
  #title{
    text-align: center;
  }
  .title-image{
  position: static;
  transform: rotate(0)
}
}
#cta
{

  position: relative;
  bottom: 20vh;
  height: 600px;
  padding: 10% 15%;

}
.call-toaction
{
  margin-top: 30px;
  font-size: 70px;
}
